.aboutContainer {
  height: calc(100vh - 90px);
  width: 100vw;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.aboutContent {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 90px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightAbout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.topRightAbout {
  display: flex;
  align-items: center;

  font-size: 1.85rem;
}

.rightAbout h2 {
  color: #474747;
  font-size: 1.5rem;
  line-height: 1.5;
}

.rightAbout #bottomH2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftAbout {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.imgContainer {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 25px;
}

@media screen and (min-width: 2000px) {
  .topRightAbout h1 {
    font-size: 5rem;
  }

  .rightAbout h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .aboutContainer {
    height: auto;
    min-height: calc(100vh - 80px);
    /* background-color: blue; */
  }
  .aboutContent {
    width: 100vw;
    padding: 30px 30px;
    /* background-color: pink; */
    /* background-color: green; */
    flex-direction: column-reverse;
    justify-content: center;
  }
  .leftAbout {
    /* background-color: red; */
    height: auto;
    width: 100%;
    justify-content: center;
    /* background-color: yellow; */
    margin-top: 5%;
  }

  .rightAbout {
    /* background-color: blue; */
    height: auto;
    /* background-color: green; */
    /* background-color: green; */
  }

  .imgContainer {
    height: auto;
    width: 85%;
    /* background-color: green; */
  }

  .imgContainer img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
  }
  .buttons {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  .aboutContent h1 {
    font-size: 2.5rem;
  }
  .aboutContent h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .leftAbout {
    margin-top: 15%;
  }
  .aboutContent h2 {
    font-size: 1.3rem;
  }
}
