.aboutContainer {
  height: calc(100vh - 90px);
  width: 100vw;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.aboutContent {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightAbout {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.topRightAbout {
  display: flex;
  align-items: center;
  font-size: 1.85rem;
}

.rightAbout h2 {
  color: #474747;
  font-size: 1.45rem;
  line-height: 1.5;
}

.rightAbout #bottomH2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftAbout {
  padding: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
}

.imgContainer img {
  height: auto;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 25px;
}

@media screen and (min-width: 2000px) {
  .topRightAbout {
    font-size: 2.3rem;
  }
  .rightAbout h2 {
    font-size: 2rem;
  }
}
