.footerContainer {
  height: 30vh;
  width: 100vw;
  background-color: #d3d3d3;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.footerContent {
  height: 100%;
  width: 100%;
  padding: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftFooter {
  height: 100%;
  width: 70%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.leftFooter h1 {
  color: #4361ee;
  font-size: 2.5rem;
}

.leftFooter h2 {
  color: #2a2a2a;
  font-size: 1.3rem;
  line-height: 1.5;
}

.rightFooter {
  padding: 20px;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 1.5;
  gap: 20px;
}

.rightFooter span {
  font-size: 1.3rem;
}

.rightFooter a {
  color: #4361ee;
  transform: scale(1);
  transition: transform 0.2s;
}

.rightFooter a:hover {
  transform: scale(1.15);
  cursor: pointer;
}
