.footerContainer {
  height: 25vh;
  width: 100vw;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
}

.footerContent {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContent h3 {
  color: #474747;
  font-size: 0.9rem;
  margin-top: 10px;
}

.topFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftFooter {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  margin-right: 15px;
}

.leftFooter h1 {
  color: #4361ee;
  font-size: 2rem;
}

.leftFooter h2 {
  color: #2a2a2a;
  font-size: 1.3rem;
  line-height: 1.5;
}

.rightFooter {
  padding: 20px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  line-height: 1.5;
  gap: 30px;
}

.rightFooter a {
  color: #4361ee;
  transform: scale(1);
  transition: transform 0.2s;
}

.rightFooter a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-height: 1000px) {
  .footerContainer {
    height: 20vh;
  }
}

@media screen and (min-width: 1500px) {
  .leftFooter h1 {
    font-size: 2.5rem;
  }
  .leftFooter h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 950px) {
  .footerContainer {
    height: auto;
  }
  .footerContent {
    padding: 30px;
  }
  .topFooter {
    flex-direction: column;
  }
  .leftFooter {
    width: 100%;
    margin-right: 0px;
    text-align: center;
    padding: 0 100px;
  }

  /* .leftFooter h2 {
    align-items: center;
    justify-content: center;
  } */

  .rightFooter {
    width: 100%;
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .leftFooter {
    padding: 0 10px;
  }
  .leftFooter h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
