.footerContainer {
  height: 30vh;
  width: 100vw;
  background-color: #d3d3d3;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: center;
}

.footerContent {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContent h3 {
  color: #474747;
  font-size: 0.9rem;
}

.topFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftFooter {
  height: 100%;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.leftFooter h1 {
  color: #4361ee;
  font-size: 2.3rem;
}

.leftFooter h2 {
  color: #2a2a2a;
  font-size: 1.4rem;
  line-height: 1.5;
}

.rightFooter {
  padding: 20px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  line-height: 1.5;
  gap: 30px;
}

.rightFooter span {
  font-size: 1.3rem;
}

.rightFooter a {
  color: #4361ee;
  transform: scale(1);
  transition: transform 0.2s;
}

.rightFooter a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-height: 1000px) {
  .footerContainer {
    height: 20vh;
  }
}
