.homeContainer {
  height: calc(100vh - 90px);
  width: 100vw;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.homeContent {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 0 120px;
  display: flex;
  align-items: center;
}

.leftHome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topLeftHome {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
}

.leftHome h2 {
  color: #474747;
  margin-bottom: 20px;
  font-size: 2.2rem;
  line-height: 1.5;
}

.rightHome {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightHome img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15px;
}

@media screen and (min-width: 2000px) {
  .topLeftHome h1 {
    font-size: 6rem;
  }
  .leftHome h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 950px) {
  .homeContent {
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px;
    /* background-color: green; */
  }
  .leftHome {
    height: auto;
    width: 100%;
  }
  .leftHome h1 {
    font-size: 2.5rem;
  }
  .leftHome h2 {
    font-size: 1.7rem;
  }
  .rightHome {
    height: 50%;
    margin-top: 5%;
    /* background-color: yellow; */
  }
  .btnArea {
    padding: 0 20px;
  }
}
