.navContainer {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 90px;
  width: 100vw;
  background-color: #faf9f6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.navContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  font-family: "Ubuntu";
  padding: 20px 120px;
  color: #4361ee;
}

.name {
  color: #2a2a2a;
  font-size: 2.5rem;
  font-weight: 800;
  transform: scale(1);
  transition: transform 0.2s;
}

.name:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sections a {
  transform: scale(1);
  transition: transform 0.2s;
  font-size: 1.5rem;
  margin-left: 15px;
  margin-right: 15px;
}

.sections a:hover {
  cursor: pointer;
  transform: scale(1.15);
}
