.navContainer {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 90px;
  width: 100vw;
  background-color: #faf9f6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.navContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  font-family: "Ubuntu";
  padding: 20px 120px;
  color: #4361ee;
}

.name h2 {
  color: #2a2a2a;
  font-size: 2rem;
  font-weight: 800;
  transform: scale(1);
  transition: transform 0.2s;
}

.name h2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sections h2 {
  transform: scale(1);
  transition: transform 0.2s;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
}

.sections h2:hover {
  cursor: pointer;
  transform: scale(1.15);
}

@media screen and (max-width: 950px) {
  .navContainer {
    height: 80px;
  }
  .navContent {
    padding: 0 30px;
  }

  .name h2 {
    font-size: 1.8rem;
  }

  .sections {
    display: None;
  }

  .contact {
    display: None;
  }
}
