.pageContainer {
  height: auto;
  min-height: calc(100vh - 30vh - 90px);
  width: 100vw;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContent {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 40px 120px;
}

.pageContent h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}
.pageContent h2 {
  font-size: 2rem;
  color: #4361ee;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
}
.pageContent h3 {
  font-size: 1.7rem;
  color: #2a2a2a;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pageContent p {
  margin-left: 20px;
  font-size: 1.2rem;
  color: #474747;
}

.pageContent li {
  margin-left: 40px;
  font-size: 1.2rem;
  color: #474747;
}

@media screen and (min-width: 2000px) {
  .pageContainer {
    min-height: calc(100vh - 20vh - 90px);
  }
}
