.itemContainer {
  font-size: 1.2rem;
  background-color: #4361ee;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  color: #faf9f6;
  font-family: "Ubuntu";
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
